name: test
on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl:
          [
            "5.36",
            "5.32",
            "5.30",
            "5.28",
            "5.18",
            "5.16",
            "5.14",
          ]
    name: Perl ${{ matrix.perl }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Install dependencies
        run: cpanm -nq --installdeps --with-develop --with-recommends .
      - name: Run test
        run: prove -lr t

