name: test
on:
  push:
    paths: [ 'script/**', 'lib/**', 't/**', '.github/workflows/**' ]
  pull_request:
    paths: [ 'script/**', 'lib/**', 't/**', '.github/workflows/**' ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl:
          [
            "5.38",
            "5.32",
            "5.30",
            "5.26",
            "5.18",
          ]
    name: Perl ${{ matrix.perl }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Install dependencies
        run: cpanm -nq --installdeps .
      - name: Run test
        run: prove -lvr t

